<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="#">Portfolio</a>
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="true" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/projects">Home <span class="sr-only"></span>
        </a>
      </li>
      <% if !user_signed_in? %>
        <a class="nav-link" href="/users/sign_up">Sign up <span class="sr-only"></span></a>
        <a class="nav-link" href="/users/sign_in">Log in <span class="sr-only"></span></a>
      <% else %>
        
        Logged in as <strong> <%= current_user.email %></strong>.
        
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-dark'  %>
        <%= link_to 'New Project', new_project_path, class:"btn btn-success"%>
      <% end %>

      

    </ul>

  </div>
</nav>